#Debug folder
/Debug

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Debug

/JAVA/AMG_TEST/bin
bin

/JAVA/AMG_TEST/.classpath
/JAVA/AMG_TEST/.project
/JAVA/AMG_TEST/.settings/org.eclipse.jdt.core.prefs
